
body{
    margin: 0%;
}
header{
    display: flex;
  justify-content: space-between;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav{
    /* background-color: rgb(182, 182, 224); */
    background-size: cover;
    background-position: 50%;
     background-repeat: no-repeat;
    padding: 10px;
    display: flex;
    /* justify-content: space-between; */
    /* background-color: rgb(229, 220, 238); */
    justify-content:left;
}
.navbar a{
    display: inline;
    padding: 8px;
    text-decoration: none;
    color: black;
    
}

.navbar a:hover {
   
    color: rgb(78, 32, 195);
    border-radius: 5px;
}

.navbar{
    padding: 10px;
}
.sidebar {
    height: 100vh; /* Full-height */
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f4d3b3; /* Softer bisque tone */
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar a {
    padding: 12px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #e7b98a;
    color: #000;
    border-radius: 4px;
}

.main {
    margin-left: 200px; /* Matches sidebar width */
    padding: 20px;
}

.footer{
    text-align: center;
}
