
header{
    display: flex;
  justify-content: space-between;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav{
    /* background-color: rgb(182, 182, 224); */
    background-size: cover;
    background-position: 50%;
     background-repeat: no-repeat;
    padding: 10px;
    display: flex;
    /* justify-content: space-between; */
    /* background-color: rgb(229, 220, 238); */
    justify-content:left;
}
.navbar a{
    display: inline;
    padding: 8px;
    text-decoration: none;
    color: black;
    
}

.navbar a:hover {
   
    color: rgb(78, 32, 195);
    border-radius: 5px;
}

.navbar{
    padding: 10px;
}
.sidebar a
{
    text-decoration: none;
    color: #ffffff ;
    border-radius: 5px;
    font-size: 14px;
    width: 50px;
    height: 20px;
    text-align: center;
    background-color: #f27073;
    padding: 10px;
    display: inline-block;
}
.sidebar a:hover{
    color: #180202;
}

.footer{
    text-align: center;
}